<form id="employees-form" class="row g-3">
  <input id="inputId" class="d-none">
  <div class="col-md-6">
    <label for="inputFullName" class="form-label">FullName</label>
    <input type="text" name="FullName" class="form-control" id="inputFullName">
  </div>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" name="Email" class="form-control" id="inputEmail">
  </div>
  <div class="col-12">
    <label for="inputCharge" class="form-label">Charge</label>
    <input type="text" name="Charge" class="form-control" id="inputCharge">
  </div>
  <div class="col-12">
    <label for="inputSalary" class="form-label">Salary</label>
    <input type="text" name="Salary"class="form-control" id="inputSalary" >
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add Employee</button>
  </div>
</form>